{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>
        {% trans "My uploads" %}
        <a href="{% url 'music_add' %}" class="btn btn-primary">Add Another</a>
    </h1>

    <form method="post" action="{% url 'music_delete' %}">
        {% csrf_token %}
        <button class="btn btn-danger">Remove all selected tracks</button>
        {% for media in medias %}
        {% if forloop.first %}
        <table class="table">
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "URL" %}</th>
                <th class="table-col-delete">{% trans "Delete" %}</th>
            </tr>
        {% endif %}
            <tr>
                <td>{{ media.name|default:"[not downloaded yet]" }}</td>
                <td><a href="{{ media.url }}" target="_blank">{{ media.url }}</a></td>
                <td><input name="toDelete" value="{{ media.id }}" type="checkbox"/></td>
            </tr>
        {% if forloop.last %}
        </table>
        {% endif %}
        {% empty %}
            <p>{% trans "You don't have uploaded anything yet!" %}</p>
        {% endfor %}
    </form>
{% endblock %}
